@page
@model Mission11_haylowry.Pages.ConfirmPurchaseModel
@{
}

<div class="text-center">
    <h2>Order Confirmation</h2>
    <p>You're order has been received.</p>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>